/* @font-face {
    font-family: "Enter Sansman";
    src: local("Enter Sansman"), url("/enter-sansman.ttf") format("truetype");
} */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1);
}
@keyframes scale-a-lil {
    from {
        scale: .8;
      }
  }
    
  @media (prefers-reduced-motion: no-preference) {
    .testing {
      animation: scale-a-lil linear both;
      animation-timeline: view();
      animation-range: 0 20vh;
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .loader {
        @apply inline-block relative w-12 h-12 rounded-full;
        border-style: solid solid dotted dotted;
        border-width: 1px;
        border-color: transparent transparent #FFFFFF #FFFFFF;
        animation: rotation 2s linear infinite;
    }

    .loader::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 2px dotted white;
        border-style: solid solid dotted;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        animation: rotationBack 1s linear infinite;
        transform-origin: center center;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes rotationBack {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
}